* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}

header {
  font-family: "Inter", sans-serif;
  background-color: rgb(3, 62, 3);
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

.titulo {
  font-size: 70px;
  color: lightgray;
  padding: 30px 30px;
  text-align: center;
}

h2 {
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 25px;
}

.ingreso-datos {
  background-color: green;
  margin: 20px 100px;
  padding: 10px;
}
input {
  color: black;
}

#traer-datos {
  background-color: rgb(7, 195, 107);
  margin: 20px 100px;
  padding: 10px;
}
select {
  color: black;
}
.item-lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 10px;
  margin: 20px;
}

button {
  color: black;
  font-weight: bold;
  background-color: white;
  margin: 10px 200px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  background-color: #313131;
  margin: 10px 100px;
}

.image-song {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
}